<nav>
   <!-- if you're looking at this I'm so, so sorry.
   I don't know what I'm doing, but it works -->
     {% if page.layout == "home" %}
    <a href="/index.html" class="active-page">Home</a>
    {% else %}
    <a href="/index.html" >Home</a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;

    {% if page.which_category == "ink" %}
    <a href="/ink.html" class="active-page">Ink</a>
    {% else %}
    <a href="/ink.html" >Ink</a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;

    {% if page.which_category == "math" %}
    <a href="/math.html" class="active-page">Math</a>
    {% else %}
    <a href="/math.html" >Math</a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;

    {% if page.which_category == "thoughts" %}
    <a href="/thoughts.html" class="active-page">Thoughts</a>
    {% else %}
    <a href="/thoughts/.html" >Thoughts</a>
    {% endif %}

    <hr style="margin-bottom: 0em;">
</nav>