@font-face {
  font-family: 'Adobe Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/agaramondpro-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Adobe Garamond';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/agaramondpro-italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Adobe Garamond';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/agaramondpro-semibold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Adobe Garamond';
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/agaramondpro-semibolditalic.woff2') format('woff2');
  font-display: swap;
}  

/* :root{  Original Color Scheme
    --fg: #F2F2F2;
    --bg: #202020;
  
    --link:       #C3BDFF;
    --link-visit: var(--fg);
} */

:root{ /* Light Mode  */
    --bg: #F2F2F2;
    --fg: #202020;
  
    --link: #078265;
    --link-hover: #05513f;
}

html {
    font-size: clamp(16px, 1rem + 0.4vw, 20px);

}

body {
  margin: .5rem auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  max-width: 35rem;
  color: var(--fg);
  background-color: var(--bg);
  line-height: 1.6;
  font-size: 1rem;
  font-family: 'Adobe Garamond', 'Times New Roman', Times, serif;
  font-feature-settings: "liga", "kern", "onum";
}

h1 {
  line-height: 1;
  font-weight: 600;
}

h2, h3, h4{
  line-height: 1.5;
  font-weight: 600;
}

strong, b {
  font-weight: 600;
}

a {
  color: var(--link);
  text-decoration: none;
}

a.active-page {
  color: var(--fg);
}

a:hover{
  color: var(--link-hover);
  text-decoration-line: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.1em;
}

p a {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.1em;
}

blockquote {
  font-size: 0.9rem;
  display: block;
  margin-block-start: 1rem; /* use rem so margins are not effected by smaller font*/
  margin-block-end: 1rem;
  margin-inline-start: 3rem;
}

.poem {
  font-family: inherit;
  margin: 1rem auto;   
  white-space: pre;  
  overflow-x: auto;
}