<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>
        {{ if .IsHome }}
          Eric S. Moore
        {{ else if or .IsSection .IsPage }}
          ESM - {{ .Title }}
        {{ else }}
          {{ .Site.Title }}
        {{ end }}
      </title>
    <link rel="stylesheet" href="{{ "assets/css/style.css" | relURL }}">
  </head>
  <body>

  <nav>
    {{ $current := .CurrentSection.Section }}
    <a href="{{ "/" | relURL }}" {{ if .IsHome }}class="active-page"{{ end }}>Home</a>
    <a href="{{ "/ink/" | relURL }}" {{ if eq $current "ink" }}class="active-page"{{ end }}>Ink</a>
    <a href="{{ "/works/" | relURL }}" {{ if eq $current "works" }}class="active-page"{{ end }}>Works</a>
    <a href="{{ "/thoughts/" | relURL }}" {{ if eq $current "thoughts" }}class="active-page"{{ end }}>Thoughts</a>
  </nav>

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  </body>
</html>
