:root{
    --bg: #202020;
    --fg: #F2F2F2;
  
    --link:       rgb(177, 171, 230);
    --link-visit: var(--fg);
}

body {
  margin: .5em auto;
  padding: .5em;
  max-width: 35em;
  min-width: 20em;
  color: var(--fg);
  background-color: var(--bg);
  line-height: 1.5;
  font-size: 18px;
  font-family: garamond, 'Times New Roman', Times, serif;
}

h1, h2, h3, h4 {
  line-height: .75
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover, .active-page {
  color: var(--link-visit);
  
}

a:hover{
  text-decoration-line: underline;
}
