:root{ /* Light Mode  */
    --bg: #f5f5f5;
    --fg: #1b1b1b;
    --link: #057861;
    --link-active: #013429;
}

html { font-size: 21px; } /* for rem values */
@media (max-width: 600px) { html { font-size: 20px; }}

body {
  margin: .5rem auto;
  padding: 0.5rem 1rem;
  max-width: 64ch;
  color: var(--fg);
  background-color: var(--bg);
  line-height: 1.5;
  font-size: 1rem;
  font-family: 'Adobe Garamond', 'Garamond', 'Times New Roman', Times, serif;
  font-feature-settings: "liga", "kern", "onum";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {
  text-align: justify;
  hyphens: auto;
}

.bookish p {
  margin: 0 auto;
  text-indent: 1.5rem;
}

.bookish p:first-of-type,
.bookish .section-break + p,
.bookish br + p { 
  text-indent: 0;
}

.bookish br + p {
  margin-top: 0.5rem;
}

/* don't justify text on small screens */
@media (max-width: 600px) { p {
    text-align: left;
    hyphens: none;
}}

/* used for titles only */
header h1 {
  margin: 1rem 0 0;
  font-weight: 600;
  line-height: 2.5rem;
}

h2, h3 {
  line-height: 1.25;
  margin-bottom: 0rem;
  font-weight: 600;
} 

h2 { font-size: 1.15rem; }
h3 { font-size: 1rem; }

p + h2, .poem + h2,
p + h3, .poem + h3
.highlight + h2, .highlight + h3,
hr + h2, hr + h3 {
  margin-top: 1.5rem;
}

.home :is(h2,h3) + :is(ul,ol) {
  margin-top: 0.25rem;
}

.home :is(ul,ol) + :is(h2,h3) {
  margin-top: 0.75rem;
}

.home ul, ol{
  margin-bottom: 0;
}

li::marker {
  font-size: 0.85rem;
}

strong, b { 
  font-weight: 600 
}

em, i {
  font-style: italic;
  font-weight: 400;
}

.smallcaps {
  font-variant: small-caps;
  letter-spacing: 0.05rem;
}

.section-break {
  text-align: center;
  margin: 1.25rem auto;
  letter-spacing: 0.1rem;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover{
  text-decoration-line: underline;
  text-decoration-thickness: 0.04rem;
  text-underline-offset: 0.1rem;
}

a.active-page,
a:hover {
  color: var(--link-active);
}

nav a {
  margin-right: 1.25rem;
}

blockquote {
  font-size: 0.9rem;
  margin: 1rem 0 0 2rem;
}

.poem {
  margin: 1rem auto;
  line-height: 1.6rem;
}

.poem--raw {
  white-space: pre;
  overflow-x: auto;
  font-family: monospace;
}

.poem--wrap .line {
  margin: 0;
  white-space: pre-wrap;           
  padding-left: calc(var(--indent, 0ch) + 1ch);   /* base indent + hanging */
  text-indent: -1ch;
}

.poem--wrap .stanza.break {
  height: 1.25rem;
}

.chroma {
  font-size: 0.65rem;
  margin: 1.5rem auto;
  padding: 0.75rem 1rem;
  border: 2px solid #4d4d4d;
  overflow-x: auto;
}

figure {
    margin: 1.5rem auto;
}

figure img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
}
