@font-face {
  font-family: 'Adobe Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/agaramondpro-regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Adobe Garamond';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/agaramondpro-italic.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Adobe Garamond';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/agaramondpro-semibold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Adobe Garamond';
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/agaramondpro-semibolditalic.woff2') format('woff2');
  font-display: swap;
}  

/* Original Dark Color Scheme
    --fg: #F2F2F2;
    --bg: #202020;
    --link: #C3BDFF;
    --link-hover TO-DO
 */
:root{ /* Light Mode  */
    --bg: #f5f5f5;
    --fg: #1b1b1b;
    --link: #057861;
    --link-active: #013429;
}

html {
  font-size: 21px; /* for rem values */
}

body {
  margin: .5rem auto;
  padding: 0.5rem 1rem;
  max-width: 66ch;
  color: var(--fg);
  background-color: var(--bg);
  line-height: 1.5;
  font-size: 1rem;
  font-family: 'Adobe Garamond', 'Garamond', 'Times New Roman', Times, serif;
  font-feature-settings: "liga", "kern", "onum";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {
  text-align: justify;
  hyphens: auto;
}

@media (max-width: 600px) { p {
    text-align: left;
    hyphens: none;
}}

header h1 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-weight: 600;
  line-height: 2.5rem;
}

h2{
  line-height: 1.25;
  font-size: 1.15rem;
  margin-bottom: 0rem;
  font-weight: 600;
} 

p + h2{
  margin-top: 2rem;
}

h2 + ul, h2 + ol { 
  margin-top: 0.25rem;
}

strong, b { 
  font-weight: 600 
}

em, i {
  font-style: italic;
  font-weight: 400;
}

.section-break {
  text-align: center;
  margin: 1.25rem auto;
  letter-spacing: 0.1rem;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover,
p a {
  text-decoration-line: underline;
  text-decoration-thickness: 0.04rem;
  text-underline-offset: 0.1rem;
}

a.active-page,
a:hover {
  color: var(--link-active);
}

nav a {
  margin-right: 1.25rem;
}

blockquote {
  font-size: 0.9rem;
  margin-inline-start: 2rem;
}

.poem {
  margin: 1rem auto;   
  white-space: pre;  
  overflow-x: auto;
}