/* ========== globals ========== */

:root { /* Light Mode */
  --bg: #f5f5f5;
  --fg: #1b1b1b;
  --link: #057861;
  --link-active: #013429;
}

html { font-size: 21px; } /* base for rem */
@media (max-width: 600px) {
  html { font-size: 20px; }
}

/* ========== body ========== */

body {
  margin: .5rem auto;
  padding: .5rem 1rem;
  max-width: 64ch;

  color: var(--fg);
  background: var(--bg);

  font: 1rem/1.5 'Adobe Garamond','Garamond','Times New Roman',Times,serif;

  font-feature-settings: "liga","kern","onum";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* ========== pagagraph ========== */

p {
  text-align: justify;
  hyphens: auto;
}


@media (max-width: 600px) {
  p {
    text-align: left;
    hyphens: none;
  }
}

/* bookish (indented except first) */
.bookish p {
  margin: 0 auto;
  text-indent: 1.5rem;
}

.bookish :is(
  p:first-of-type,
  .section-break + p,
  br + p )
{
  text-indent: 0;
}

.bookish br + p {
  margin-top: .5rem;
}

.section-break {
  text-align: center;
  margin: 1.25rem auto;
  letter-spacing: .1rem;
}

/* ========== headings ========== */

header h1 {
  margin: 1rem 0 0;
  font-weight: 600;
  line-height: 2.5rem;
}

h2, h3 {
  line-height: 1.25;
  margin-bottom: 0;
  font-weight: 600;
}

h2 { font-size: 1.15rem; }
h3 { font-size: 1rem; }

/* spacing */

:is(
  p,
  .poem,
  .highlight,
  hr
) + :is(h2,h3) {
  margin-top: 1.5rem;
}

/* home page spacing */

.home :is(h2,h3) + :is(ul,ol) {
  margin-top: .25rem;
}

.home :is(ul,ol) + :is(h2,h3) {
  margin-top: .75rem;
}

.home :is(ul,ol) {
  margin-bottom: 0;
}

/* ========== text style ========== */

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
  font-weight: 400;
}

.smallcaps {
  font-variant: small-caps;
  letter-spacing: .05rem;
}

/* ========== links ========== */

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
  text-decoration-thickness: .04rem;
  text-underline-offset: .1rem;
}

a.active-page,
a:hover {
  color: var(--link-active);
}

nav a {
  margin-right: 1.25rem;
}

/* ========== misc idk ========== */

blockquote {
  font-size: .9rem;
  margin: 1rem 0 0 2rem;
}

li::marker {
  font-size: .85rem;
}

/* ========== poetry ========== */

.poem {
  margin: 1rem auto;
  line-height: 1.6rem;
}

.poem--raw {
  white-space: pre;
  overflow-x: auto;
  font-family: monospace;
}

.poem--wrap .line {
  margin: 0;
  white-space: pre-wrap;

  padding-left: calc(var(--indent,0ch) + 1ch);
  text-indent: -1ch;
}

.poem--wrap .stanza.break {
  height: 1.25rem;
}

/* ========== code ========== */

.chroma {
  font-size: .65rem;
  margin: 1.5rem auto;
  padding: .75rem 1rem;

  border: 2px solid #4d4d4d;
  overflow-x: auto;
}

/* ========== figures ========== */

figure {
  margin: 1.5rem auto;
}

figure img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: .9rem;
}
