<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }} — 404</title>

    {{ with resources.Get "css/style.css" }}
      {{ $css := . | minify | fingerprint }}
      <link rel="stylesheet" href="{{ $css.RelPermalink }}">
    {{ end }}
  </head>

  <nav><a href="{{ "/" | relURL }}"><<<</a></nav>
  <header>
    
    <hr>
    <h1>404</h1>
    <p>Not Found</p>
    <hr>

    <body>
      <div class="poem poem--wrap">                                                          
        <div class="line" style="--indent: 0ch">This is not the page you wanted.</div>                
        <div class="line" style="--indent: 4ch">Turn back. Go home.</div>                                                        
        <div class="line" style="--indent: 4ch">Posts run wild. Pages groan.</div>              
        <div class="line" style="--indent: 8ch">Forgive my 404.</div>
      </div>
    </body>
  </header>
</html>