{{ $name := .Get 0 }}
{{ $mode := .Get 1 | default "wrap" }}

{{ $poem := .Page.Resources.GetMatch (printf "%s.txt" $name) }}
{{ $content := $poem.Content }}

<!-- convert markdown-style bold and italic -->
{{ $content = replaceRE `\*\*(.+?)\*\*` `<strong>$1</strong>` $content }}
{{ $content = replaceRE `\*(.+?)\*` `<em>$1</em>` $content }}

{{ if eq $mode "wrap" }}
  {{ $lines := split $content "\n" }}
  <div class="poem poem--wrap">
    {{ range $lines }}
      <!-- trim whitespace -->
      {{ $trimmed := strings.TrimSpace . }} 
      {{ if eq $trimmed "" }}
        <div class="stanza break"></div>
      {{ else }}
        <!-- count indentation whitespace-->
        {{ $m := findRE `^(\s*)` . }}
        {{ $indent := 0 }}
        {{ if gt (len $m) 0 }}
          {{ $indent = len (index $m 0) }}
        {{ end }}

        <!-- remove indentation whitespace from string -->
        {{ $clean := replaceRE `^\s+` "" . }}
        <!-- line w/ indentation count var-->
        <div class="line" style="--indent: {{ $indent }}ch">{{ $clean | safeHTML }}</div>
      {{ end }}
    {{ end }}
  </div>

<!-- keep for ascii form poetry? -->
{{ else }}
  <div class="poem poem--raw">{{ $content | safeHTML }}</div>
{{ end }}