{{ $arg := .Get 0 }}
 
{{ $pages := site.RegularPages }}
{{ if not ( eq $arg "home" )}}
  {{ $pages = .Page.RegularPages }}
{{ end }}

{{ $dated := where $pages "Date.IsZero" false }}
{{ $dated = where $dated "Params.hidden" "!=" true }}

{{ range $dated.GroupByDate "2006" }}
  <h2>{{ .Key }}</h2>
  <ul>
    {{ range .ByDate.Reverse }}
    <!--{{ if eq .Params.Type "bold" }}
      <li>{{ .Date.Format "01.02" }}:&nbsp;  <b><a href="{{ .RelPermalink }}">{{ .Title }}</a></li></b>
    {{ end }}-->
      <li>{{ .Date.Format "01.02" }}:&nbsp;  <a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
{{ end }}
</ul>
